.container-fluid {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 1200px;
    max-width: 100%;
    gap: 1rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar-wrapper {
    position: relative;
    width: 512px;
    max-width: 100%;
}

.top-bar {
    text-align: center;
}

@media screen and (max-width:1200px) {
    .container {
        flex-direction: column;
        width: 512px;
    }

    .reader-wrapper {
        display: none;
    }
}

.index-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 96px;
    margin-top: 64px;
    margin-bottom: 96px;
    margin-left: auto;
    margin-right: auto;
}

.index-wrapper>.item {
    cursor: pointer;
    display: flex;
    position: relative;
}

@font-face {
    font-family: "Linux Libertine Font";
    src: url("./fonts/LinLibertine_Mah.ttf");
}

.index-wrapper>.item::before {
    display: inline-block;
    content: attr(data-counter);
    position: absolute;
    top: -18px;
    right: 512px;
    text-align: end;
    font-size: 13px;
    font-family: "Linux Libertine Font";
    color: var(--studio-blue-50);
    background-color: var(--studio-blue-0);
    padding: 1px 6px;
    border: 1px solid var(--studio-blue-40);
    border-radius: 10px;
}

.index-wrapper>.item:hover {
    box-shadow: 0 0 4px var(--studio-blue-50);
}

.index-wrapper>.item>.cover {
    position: absolute;
    background-color: rgba(12, 12, 12, .1);
    width: 512px;
    max-width: 100%;
    height: 256px;
}

.index-wrapper>.item>.cover::before {
    display: block;
    width: calc(50% - 8px);
    min-height: 18px;
    height: 18px;
    max-height: 18px;
    padding: 4px;
    position: relative;
    top: -24px;
    color: white;
    text-align: left;
    content: attr(data-folder);
    overflow: hidden;
}

.index-wrapper>.item>.cover::after {
    display: block;
    width: calc(50% - 8px);
    min-height: 18px;
    height: 18px;
    max-height: 18px;
    padding: 4px;
    position: relative;
    top: calc(-24px - 24px - 2px);
    left: 50%;
    background-color: rgba(12, 12, 12, .75);
    color: white;
    text-align: right;
    content: attr(data-filename);
    overflow: hidden;
}

.index-wrapper>.item>iframe {
    display: block;
    width: 512px;
    max-width: 100%;
    height: 256px;
    border: none;
    overflow: hidden;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

body[data-value-of-enable-file-preview="true"] .reader-wrapper {
    width: calc(1200px - 512px);
    height: calc(100vh - 6rem);
    margin-top: 2rem;
}

body[data-value-of-enable-file-preview="false"] .reader-wrapper {
    display: none;
}

.reader {
    position: fixed;
    width: calc(1200px - 512px);
    height: calc(100vh - 6rem);
    overflow: hidden;
}

.reader:has(.cover:hover) {
    overflow: hidden;
}

body[data-value-of-platform="MacIntel"][data-value-of-webbrowsername="safari"] .reader {
    overflow: hidden;
}

body[data-value-of-enable-navbar="true"] .reader-wrapper,
body[data-value-of-enable-navbar="true"] .reader,
body[data-value-of-enable-navbar="true"] .reader > iframe {
    height: calc(100vh - 10rem);
}

.reader iframe {
    width: calc(1200px - 512px);
    height: calc(100vh - 6rem);
    border: 1px dashed var(--studio-gray-50);
    position: fixed;
    overflow: hidden;
}

.reader .cover {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(12, 12, 12, .05);
    width: calc(100% - 96px);
    height: 100%;
    cursor: pointer;
}

.reader .cover:hover {
    backdrop-filter: brightness(0.9);
    box-shadow: inset 0 0 4px var(--studio-blue-50);
}

.reader:has(iframe[src]):has(.cover:hover)::before {
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 8px 32px;
    position: absolute;
    z-index: 50;
    top: calc(50% - 25px);
    left: calc(50% - 48px - 110px);
    text-align: left;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, .9);
    backdrop-filter: blur(1px);
    content: "Click to Read";
    border: unset;
    box-shadow: unset;
    outline: 4px solid rgba(0, 0, 0, .5);
}

.reader::before,
.reader::after,
.reader > .cover::before,
.reader > .cover::after {
    position: absolute;
    z-index: 100;
    display: none;
}

.reader:not(:has(.cover:hover)):hover::before,
.reader:not(:has(.cover:hover)):hover::after,
.reader:not(:has(.cover:hover)):hover > .cover::before,
.reader:not(:has(.cover:hover)):hover > .cover::after {
    display: block;
}

.reader::before {
    right: 94px;
}

.reader::after {
    right: 0;
}

.reader::before,
.reader::after {
    content: '';
    top: 0;
    width: 0;
    height: 100%;
    border: 1px solid var(--studio-green-50);
    box-shadow: 0 0 4px var(--studio-green-50);
}

.reader > .cover::before {
    top: 0;
}

.reader > .cover::after {
    bottom: 0;
}

.reader > .cover::before,
.reader > .cover::after {
    content: '';
    right: -98px;
    width: 96px;
    height: 0;
    border: 1px solid var(--studio-green-50);
    box-shadow: 0 0 4px var(--studio-green-50);
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.mini-loading {
    position: fixed;
    bottom: 0;
    left: 0;
    background: black;
    color: white;
    width: 100vw;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mini-loading-caption {
    font-size: 18px;
    font-family: monospace;
    color: white;
    padding: 2px 20px;
    border: 3px solid white;
}
