.desktop {
    width: 100%;
    min-height: calc(100vh - 400px);
}

.container {
    display: flex;
    justify-content: start;
    margin-bottom: 219px;
    flex-direction: column;
    align-items: start;
    max-width: 100%;
}

.page:not(:first-child) {
    margin-top: 0;
}

.page:not(.first-page) {
    border-top: none;
}

.page:not(:last-child) {
    margin-bottom: 0;
}

.page {
    border: 1px dashed var(--studio-green-30);
    padding: 4px 8px;
    position: relative;
}

body[is-iframe="true"]:not([is-preview="true"]) .page {
    border: 1px dashed transparent;
}

[is-iframe="true"]:not([is-preview="true"]) .container {
    max-height: 256px;
    overflow: hidden;
}

pre {
    width: 512px;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
    font-family: Menlo, Monaco, Consolas, "Courier New", "Microsoft YaHei", monospace;
}

[is-iframe="true"]:not([is-preview="true"]) pre {
    margin-top: 0;
}

body[data-value-of-enable-pre-width-fit-content="true"] pre,
pre.width-fit-content {
    width: fit-content;
}

pre .censored {
    color: var(--studio-black);
    cursor: pointer;
    display: inline-block;
    font-family: none;
    line-height: 0;
}

pre .name-link,
pre .decode-url-link,
.container-2 .disabled-decode-url-link,
.container-2 .plain-name {
    display: inline-block;
    white-space: pre-wrap;
    word-break: break-word;
}

pre .link,
pre .url-text-link,
.container-2 .disabled-link,
.container-2 .disabled-url-text-link {
    display: inline;
    white-space: pre-wrap;
    word-break: break-all;
}

pre .name-link,
pre .link,
pre .url-text-link,
pre .decode-url-link {
    color: var(--studio-blue);
    cursor: pointer;
    position: relative;
}

.container-1 .decode-url-link,
.container-2 .disabled-decode-url-link {
    position: relative;
    background-image: repeating-linear-gradient(-45deg, var(--studio-gray-0), var(--studio-gray-0) 25px, transparent 25px, transparent 50px);
}

.container-1 iframe,
.container-2 .iframe-cover {
    background-image: repeating-linear-gradient(-45deg, var(--studio-gray-0), var(--studio-gray-0) 25px, transparent 25px, transparent 50px);
}

body[data-value-of-enable-no-backdrop="true"] .container-2 .iframe-cover {
    background-image: repeating-linear-gradient(-45deg, var(--studio-gray-0), var(--studio-gray-0) 25px, white 25px, white 50px);
}

pre .name-link::before,
pre .link::before,
pre .url-text-link::before,
pre .decode-url-link::before {
    display: none;
    position: absolute;
    left: 0;
    top: -18px;
    min-width: 160px;
    width: max-content;
    color: white;
    background-color: rgba(0, 0, 0, .75);
}

pre .name-link::before {
    content: attr(data-info);
}

pre .link::before,
pre .url-text-link::before,
pre .decode-url-link::before {
    content: attr(to);
}

pre .name-link:hover::before,
pre .link:hover::before,
pre .url-text-link:hover::before,
pre .decode-url-link:hover::before {
    display: block;
}

pre .decode-url-link .og-text,
.container-2 .disabled-decode-url-link .decrypted-text {
    visibility: hidden; /* cannot be display:none bacause height might be affected */
}

pre .og-text,
pre .plain-og-text {
    white-space: pre-wrap;
    word-break: break-all;
}

pre .decode-url-link .decrypted-text,
.container-2 .disabled-decode-url-link .decrypted-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}

pre [data-line-number]::before {
    content: attr(class) ' ' attr(data-line-number);
    position: absolute;
    top: -1px;
    left: -230px;
    width: 200px;
    padding-right: 4px;
    height: 100%;
    display: none;
    border-top: 1px dashed black;
    border-right: 1px dashed black;
    border-bottom: 1px dashed black;
    text-align: right;
    color: black;
    background: linear-gradient(to right, transparent, white, lightyellow);
}

.container-2 pre [data-line-number]::before {
    left: unset;
    right: -230px !important;
    padding-left: 4px;
    text-align: left;
    border-left: 1px dashed black;
    border-right: unset;
    background: linear-gradient(to right, lightyellow, white, transparent);
}

body[data-value-of-enable-hover-show-page-info="true"] .page:hover::before {
    content: attr(data-page-info);
    position: absolute;
    top: 0;
    left: -222px;
    width: 200px;
    height: calc(100% - 4px);
    padding-top: 3px;
    padding-right: 4px;
    display: block;
    border-top: 1px dashed black;
    border-right: 1px dashed black;
    border-bottom: 1px dashed black;
    text-align: right;
    background: linear-gradient(to right, white, lightgoldenrodyellow);
}

body[data-value-of-enable-hover-show-page-info="true"] .container-2 .page:hover::before {
    left: unset;
    right: -222px;
    padding-left: 4px;
    border-left: 1px dashed black;
    border-right: unset;
    text-align: left;
    background: linear-gradient(to left, transparent, lightgoldenrodyellow);
}

body[data-value-of-enable-hover-show-page-info="true"] .page:not(:first-child):hover::before {
    height: calc(100% - 5px);
    padding-top: 4px;
}

body[data-value-of-enable-hover-show-page-info="true"] .page.extra-width:hover::before {
    left: -322px;
    width: 300px;
}

body[data-value-of-enable-line-width-560px="true"] pre,
body[data-value-of-enable-line-width-560px="true"] pre .line,
body[data-value-of-enable-line-width-560px="true"] pre .empty-line,
body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-split="true"] .img-wrapper .content {
    width: 560px;
    max-width: min(560px, 100vw, 100%);
}

body[data-value-of-enable-line-width-560px="true"] pre.page,
body[data-value-of-enable-line-width-560px="true"] pre.page .line,
body[data-value-of-enable-line-width-560px="true"] pre.page .empty-line,
body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-split="true"] pre.page .img-wrapper .content {
    max-width: min(560px, calc(100vw - 18px), 100%);
}

body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"] pre,
body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"] pre .line,
body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"] pre .empty-line,
body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-split="true"] .img-wrapper .content {
    width: 608px;
    max-width: min(608px, 100vw, 100%);
}

body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"] pre.page,
body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"] pre.page .line,
body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"] pre.page .empty-line,
body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-split="true"] pre.page .img-wrapper .content {
    max-width: min(608px, calc(100vw - 18px), 100%);
}

body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-width-656px="true"] pre,
body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-width-656px="true"] pre .line,
body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-width-656px="true"] pre .empty-line,
body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-width-656px="true"][data-value-of-enable-line-split="true"] .img-wrapper .content {
    width: 656px;
    max-width: min(656px, 100vw, 100%);
}

body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-width-656px="true"] pre.page,
body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-width-656px="true"] pre.page .line,
body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-width-656px="true"] pre.page .empty-line,
body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-width-656px="true"][data-value-of-enable-line-split="true"] pre.page .img-wrapper .content {
    max-width: min(656px, calc(100vw - 18px), 100%);
}

body[data-line-width-maximum="true"] pre,
body[data-line-width-maximum="true"] pre .line,
body[data-line-width-maximum="true"] pre .empty-line,
body[data-line-width-maximum="true"][data-value-of-enable-line-split="true"] .img-wrapper .content,
body[data-line-width-maximum="true"][data-value-of-enable-line-width-560px="true"] pre,
body[data-line-width-maximum="true"][data-value-of-enable-line-width-560px="true"] pre .line,
body[data-line-width-maximum="true"][data-value-of-enable-line-width-560px="true"] pre .empty-line,
body[data-line-width-maximum="true"][data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-split="true"] .img-wrapper .content,
body[data-line-width-maximum="true"][data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"] pre,
body[data-line-width-maximum="true"][data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"] pre .line,
body[data-line-width-maximum="true"][data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"] pre .empty-line,
body[data-line-width-maximum="true"][data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-split="true"] .img-wrapper .content,
body[data-line-width-maximum="true"][data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-width-656px="true"] pre,
body[data-line-width-maximum="true"][data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-width-656px="true"] pre .line,
body[data-line-width-maximum="true"][data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-width-656px="true"] pre .empty-line,
body[data-line-width-maximum="true"][data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-width-656px="true"][data-value-of-enable-line-split="true"] .img-wrapper .content {
    width: 800px;
    max-width: min(800px, 100vw, 100%);
}

body[data-line-width-maximum="true"] pre.page,
body[data-line-width-maximum="true"] pre.page .line,
body[data-line-width-maximum="true"] pre.page .empty-line,
body[data-line-width-maximum="true"][data-value-of-enable-line-split="true"] pre.page .img-wrapper .content,
body[data-line-width-maximum="true"][data-value-of-enable-line-width-560px="true"] pre.page,
body[data-line-width-maximum="true"][data-value-of-enable-line-width-560px="true"] pre.page .line,
body[data-line-width-maximum="true"][data-value-of-enable-line-width-560px="true"] pre.page .empty-line,
body[data-line-width-maximum="true"][data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-split="true"] pre.page .img-wrapper .content,
body[data-line-width-maximum="true"][data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"] pre.page,
body[data-line-width-maximum="true"][data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"] pre.page .line,
body[data-line-width-maximum="true"][data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"] pre.page .empty-line,
body[data-line-width-maximum="true"][data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-split="true"] pre.page .img-wrapper .content,
body[data-line-width-maximum="true"][data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-width-656px="true"] pre.page,
body[data-line-width-maximum="true"][data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-width-656px="true"] pre.page .line,
body[data-line-width-maximum="true"][data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-width-656px="true"] pre.page .empty-line,
body[data-line-width-maximum="true"][data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-width-656px="true"][data-value-of-enable-line-split="true"] pre.page .img-wrapper .content {
    max-width: min(800px, calc(100vw - 18px), 100%);
}

pre img {
    width: 100%;
}

pre .thumbnail {
    display: inline-block;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    height: fit-content;
}

pre .thumbnail-2x {
    display: inline-block;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    height: fit-content;
}

body[data-value-of-webbrowsername="safari"] pre .thumbnail,
body[data-value-of-webbrowsername="safari"] pre .thumbnail-2x,
body[data-value-of-webbrowsername="undefined"] pre .thumbnail,
body[data-value-of-webbrowsername="undefined"] pre .thumbnail-2x {
    height: intrinsic;
}

pre .row {
    display: flex;
}

pre .row:has(.thumbnail),
pre .row:has(.thumbnail-2x),
pre .row:has(.img-wrapper) {
    gap: 10px;
}

.inspect-image-wrapper {
    display: block;
    position: relative;
    width: 0;
    height: 0;
    max-width: 0;
    max-height: 0;
    overflow: visible;
}

.img-wrapper {
    display: inline-block;
    position: relative;
}

.img-wrapper .background-image,
.img-wrapper .backdrop-filter,
.img-wrapper .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

/* Override parent font-size (in case parent font-size: 0) */
.container-2 .img-wrapper .content {
    font-size: 1rem;
}

.img-wrapper .background-image {
    background-size: cover;
}

.img-wrapper .backdrop-filter.blur {
    backdrop-filter: blur(2px);
}

.img-wrapper .backdrop-filter.white {
    background-color: white;
    opacity: .9;
}

body[data-value-of-enable-line-split="true"] .img-wrapper .content {
    width: 512px;
    max-width: 512px;
}

body[data-value-of-enable-no-backdrop="true"] .right .img-wrapper .background-image,
body[data-value-of-enable-no-backdrop="true"] .img-wrapper .backdrop-filter {
    display: none;
}

.left {
    overflow-x: visible;
    display: flex;
    width: 100%;
    max-width: calc(100% - 64px);
    margin: 0 auto;
    justify-content: center;
}

body[is-iframe="true"] .left {
    max-width: calc(100% - 16px);
}

.right {
    display: none;
}

body[data-value-of-enable-dual-article-container="true"] .left {
    justify-content: end;
}

body[data-value-of-enable-dual-article-container="true"] .right {
    overflow-x: visible;
    display: flex;
    width: 100%;
    justify-content: start;
    margin-left: 20px;
}

.badges .title {
    color: var(--studio-purple-50);
    width: max-content;
    max-width: min(100vw, calc(512px + (100vw - 512px) / 2));
    text-wrap: nowrap;
}

.right .badges {
    visibility: hidden;
}

.right .badges .title {
    max-width: min(100vw, calc(50vw - 20px));
}

.list-item-number {
    font-style: italic;
    font-weight: bold;
}

.video-wrapper,
.svg-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.row.wrap {
    flex-wrap: wrap;
}

.row.wrap > .svg-wrapper {
    width: auto;
}

.video-wrapper video {
    display: block;
    /* eliminate the space below it */
}

.container-1 .video-wrapper .cover,
.container-1 .video-wrapper .backdrop-filter.blur,
.container-1 .video-wrapper .backdrop-filter.white,
.container-1 .svg-wrapper .svg-cover,
.container-1 .svg-wrapper .backdrop-filter.blur,
.container-1 .svg-wrapper .backdrop-filter.white {
    display: none;
}

.container-2 .video-wrapper .cover,
.container-2 .video-wrapper .backdrop-filter.blur,
.container-2 .video-wrapper .backdrop-filter.white,
.container-2 .svg-wrapper .svg-cover,
.container-2 .svg-wrapper .backdrop-filter.blur,
.container-2 .svg-wrapper .backdrop-filter.white {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Override parent font-size (in case parent font-size: 0) */
.container-2 .video-wrapper .cover,
.container-2 .svg-wrapper .svg-cover {
    font-size: 1rem;
}

.container-2 .svg-wrapper .svg-cover.checking {
    position: relative;
    overflow: unset;
}

.container-2 .svg-wrapper:has(.svg-cover.checking) svg {
    position: absolute;
    top: 0;
    left: 0;
}

.container-2 .video-wrapper .backdrop-filter.blur,
.container-2 .svg-wrapper .backdrop-filter.blur {
    backdrop-filter: blur(2px);
    z-index: 8;
}

.container-2 .video-wrapper .backdrop-filter.white,
.container-2 .svg-wrapper .backdrop-filter.white {
    background-color: white;
    opacity: .9;
    z-index: 9;
}

.container-2 .video-wrapper .cover,
.container-2 .svg-wrapper .svg-cover {
    z-index: 10;
}

body[data-value-of-enable-no-backdrop="true"] .container-2 .img-wrapper>img,
body[data-value-of-enable-no-backdrop="true"] .container-2 .video-wrapper video,
body[data-value-of-enable-no-backdrop="true"] .container-2 .svg-wrapper svg,
body[data-value-of-enable-no-backdrop="true"] .container-1 .decode-url-link .og-text {
    visibility: hidden;
}

body[data-value-of-enable-no-backdrop="true"] .container-2 .video-wrapper .backdrop-filter,
body[data-value-of-enable-no-backdrop="true"] .container-2 .svg-wrapper .backdrop-filter {
    display: none;
}

[onclick="gotoPrevious()"],
[onclick="gotoNext()"] {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select:none;
    -khtml-user-select: none;
}

.buttons-previous-and-next svg[disabled] {
    stroke: lightgray;
    cursor: not-allowed;
}

body[data-value-of-enable-button-previous-and-button-next="true"]:not([is-iframe="true"]) .buttons-previous-and-next {
    display: block;
}

.buttons-previous-and-next {
    display: none;
}

.container-1 .hidden-in-container-1 {
    display: none;
}

.container-2 .hidden-in-container-2,
.container-2 .wecard-table-wrapper {
    display: none;
}

.wecard-table-wrapper {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 100%;
    max-width: 100%;
}

.wecard-table-wrapper>.wecard-table {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    max-width: 100%;
}

body[data-value-of-enable-dual-article-container="false"] .wecard-table-wrapper>.wecard-table {
    position: unset;
}

.wecard-table-wrapper>.wecard-table>thead>tr>th,
.wecard-table-wrapper>.wecard-table>tbody>tr>th,
.wecard-table-wrapper>.wecard-table>tfoot>tr>th {
    text-align: left;
    vertical-align: top;
    background-color: var(--studio-gray-5);
}

.wecard-table-wrapper>.wecard-table>thead>tr>td,
.wecard-table-wrapper>.wecard-table>tbody>tr>td,
.wecard-table-wrapper>.wecard-table>tfoot>tr>td {
    vertical-align: top;
    background-color: var(--studio-gray-0);
}

.wecard-table-wrapper>.wecard-table>thead>tr>td:hover,
.wecard-table-wrapper>.wecard-table>tbody>tr>td:hover,
.wecard-table-wrapper>.wecard-table>tfoot>tr>td:hover {
    background-color: var(--studio-blue-0);
}

.global-navbar {
    background: rgba(0, 0, 0, 0.67) !important;
}

body[data-value-of-webbrowsername="safari"] img[style*="width:fit-content"],
body[data-value-of-webbrowsername="safari"] img[style*="width: fit-content"],
body[data-value-of-webbrowsername="undefined"] img[style*="width:fit-content"],
body[data-value-of-webbrowsername="undefined"] img[style*="width: fit-content"] {
    width: unset!important;
}

body[data-value-of-webbrowsername="safari"] img[style*="height:fit-content"],
body[data-value-of-webbrowsername="safari"] img[style*="height: fit-content"],
body[data-value-of-webbrowsername="undefined"] img[style*="height:fit-content"],
body[data-value-of-webbrowsername="undefined"] img[style*="height: fit-content"] {
    height: intrinsic!important;
}

body[is-iframe="true"] {
    overflow-x: hidden;
}

/* iframe preview 中的滚动条 */
body[is-iframe="true"]::-webkit-scrollbar {
    width: 32px;
}

/* 滚动条轨道 */
body[is-iframe="true"]::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, .05);
}

/* 滚动条滑块 */
body[is-iframe="true"]::-webkit-scrollbar-thumb {
    background-color: white;
    outline: 8px solid rgba(0, 0, 0, .2);
}

body[is-iframe="true"]::-webkit-scrollbar-thumb:hover {
    outline: 7px solid rgba(0, 0, 0, .4);
}
