body {
    margin: 0;
}

.row.single-col {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.row.single-col>.col {
    width: min(512px, 100%);
    margin-left: auto;
    margin-right: auto;
    border: 1px dashed yellowgreen;
}

.row.single-col>.col:not(.first) {
    border-top: none;
}

.row.double-col {
    display: flex;
    align-items: start;
    margin-left: auto;
    margin-right: auto;
    width: min(1000px, 100%);
}

.row.double-col>.col {
    width: 50%;
    border: 1px dashed yellowgreen;
}

@media screen and (min-width: 600px) {
    .row.double-col>.col:nth-child(even) {
        border-left: none;
    }
}

@media screen and (max-width: 600px) {
    .row.double-col {
        flex-direction: column;
    }

    .row.double-col>.col {
        width: 100%;
    }

    .row.double-col>.col:nth-child(even) {
        border-top: none;
    }
}

.highlight-red {
    color: var(--studio-red);
    cursor: pointer;
    display: inline-block;
}

.highlight-green {
    color: var(--studio-green);
    cursor: pointer;
    display: inline-block;
}

[onclick] {
    cursor: pointer;
}

.has-outline {
    outline: 1px solid black;
    padding: 2px 6px;
}

.has-border {
    border: 1px solid black;
    padding: 2px 6px;
    font-family: "Linux Libertine Font";
}

pre>.has-border {
    border: 1px solid black;
    width: 100%;
    position: relative;
    left: -2%;
    padding: 0 2%;
}

.badge {
    display: inline-block;
    border: 1px solid var(--studio-blue-10);
    padding: 4px 8px;
    border-radius: 8px;
    background-color: var(--studio-blue-0);
    cursor: pointer;
}

pre del * {
    text-decoration: line-through;
}

.message-bubble {
    display: inline-block;
    background-color: var(--studio-blue-0);
    border: 1px solid var(--studio-blue-50);
    padding: 4px 8px;
    border-radius: 8px;
    border-top-left-radius: 0;
    cursor: pointer;
}

.message-bubble.message-from-god {
    background-color: var(--studio-red-0);
    border: 1px solid var(--studio-red-50);
}

.message-bubble.my-message {
    background-color: var(--studio-green-0);
    border: 1px solid var(--studio-green-50);
}

.container-1 .message-bubble {
    border-right-color: var(--studio-blue-0);
    border-bottom-color: var(--studio-blue-0);
}

.container-1 .message-bubble.message-from-god {
    border-right-color: var(--studio-red-0);
    border-bottom-color: var(--studio-red-0);
}

.container-1 .message-bubble.my-message {
    border-right-color: var(--studio-green-0);
    border-bottom-color: var(--studio-green-0);
}

.container-2 .message-bubble {
    background-color: unset;
    background-image: repeating-linear-gradient(-45deg, var(--studio-gray-0), var(--studio-gray-0) 25px, transparent 25px, transparent 50px);
    border-color: var(--studio-gray-0);
}

.container-2 .message-bubble.message-from-god {
    border-color: var(--studio-red-0);
}

.container-2 .message-bubble.my-message {
    border-color: var(--studio-green-0);
}

.container-2 .link-og-text {
    color: var(--studio-red);
}

.container-2 .bubble-og-text {
    display: inline;
    word-break: break-all !important;
    white-space: normal !important;
    font-size: unset !important;
}

.w-fit-content {
    width: fit-content;
}

.rounded-circle {
    border-radius: 50% !important;
}

.img-thumbnail {
    padding: 0.25rem !important;
    font-size: 0;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.hidden,
[hidden] {
    display: none !important;
}

.footer {
    background-color: black;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.mini-loading {
    position: fixed;
    bottom: 0;
    left: 0;
    background: black;
    color: white;
    width: 100vw;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mini-loading-caption {
    font-size: 18px;
    font-family: monospace;
    color: white;
    padding: 2px 20px;
    border: 3px solid white;
}

@media print {
    .no-print,
    .no-print *,
    .fake-navbar,
    .fake-navbar *,
    .global-navbar,
    .global-navbar *,
    .footer,
    .footer * {
        display: none !important;
    }

    .container {
        margin-bottom: 0 !important;
    }

    .page {
        border-color: transparent !important;
    }
}

@font-face {
    font-family: "Linux Libertine Font";
    src: url("./fonts/LinLibertine_Mah.ttf");
}

[font-linux] {
    font-family: "Linux Libertine Font";
}

@font-face {
    font-family: "small seal script";
    src: url("./fonts/fangzhengxiaozhuan.TTF");
}

.small-seal-script {
    font-family: "small seal script";
    font-size: 2.5rem;
}
