.global-navbar {
    background: #343a40;
    overflow-x: auto;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 990;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

#navbar {
    overflow-x: auto;
}

.global-navbar button,
#navbar button {
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 3.2px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    max-height: 31px;
    align-self: center;
}

.global-navbar button[disabled],
#navbar button[disabled] {
    background-color: var(--studio-gray-50) !important;
    border-color: var(--studio-gray-10) !important;
}

.global-navbar button:hover,
#navbar button:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    text-decoration: none;
}

.global-navbar .info,
#navbar .info {
    white-space: nowrap;
    align-self: center;
    color: #fff;
}

.global-navbar .btn-settings,
#navbar .btn-settings {
    margin-left: auto;
}

.fake-navbar {
    position: relative;
    width: 100%;
    height: 47px;
}

.modal-open {
    overflow: hidden;
}

.backdrop {
    position: fixed;
    z-index: 980;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    backdrop-filter: blur(1px) brightness(.5);
}

body[data-value-of-platform="MacIntel"][data-value-of-webbrowsername="safari"] .backdrop {
    backdrop-filter: blur(1px) brightness(.5);
    -webkit-backdrop-filter: blur(1px) brightness(.5);
}

.settings-2 {
    width: 512px;
    height: max-content;
    max-height: calc(100vh - 128px);
    background-color: white;
    box-shadow: 0 0 4px var(--studio-black);
    margin-top: 64px;
    padding-inline-start: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    overflow: auto;
    transition: width .3s;
}

body[data-value-of-enable-line-width-560px="true"] .settings-2 {
    width: 560px;
}

body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"] .settings-2 {
    width: 608px;
}

body[data-value-of-enable-line-width-560px="true"][data-value-of-enable-line-width-608px="true"][data-value-of-enable-line-width-656px="true"] .settings-2 {
    width: 656px;
}

.settings-2 img.thumbnail {
    border: 1px solid var(--studio-blue-10);
    width: fit-content;
    max-width: calc(100% - 40px);
}

body[data-value-of-platform="MacIntel"][data-value-of-webbrowsername="safari"] .settings-2 img.thumbnail {
    width: unset;
}

.settings-2 .settings-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-right: 1rem;
}

.settings-2 .settings-item code {
    color: yellowgreen;
}

body[is-iframe="true"] .global-navbar,
body[is-iframe="true"] .fake-navbar,
body[data-value-of-enable-navbar="false"] .global-navbar,
body[data-value-of-enable-navbar="false"] .fake-navbar {
    display: none;
}

.tab {
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

.tab.focus {
    background-color: rgb(55 65 81);
    transition: none !important;
    box-shadow: inset 0 0 5px 7px black;
}

.tab.focus::before {
    position: absolute;
    left: 2px;
    top: calc(50% - 6px);
    content: '';
    width: calc(100% - 24px);
    height: 2px;
    border: 5px solid transparent;
    border-left: 10px solid red;
    border-right: 10px solid greenyellow;
}

.tab.focus::after {
    position: absolute;
    left: 1px;
    top: 2px;
    content: '';
    width: calc(100% - 6px);
    height: calc(100% - 8px);
    border-top: 2px solid darkred;
    border-left: 2px solid red;
    border-bottom: 2px solid green;
    border-right: 2px solid greenyellow;
    outline-offset: -3px;
    outline: 4px dashed yellow;
}
